/* Write your CSS code here */
.img-for-large-width {
  display: none;
}
.home-container {
  font-family: 'Roboto';
  padding: 15px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.home-img {
  width: 200px;
}
.home-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-heading {
  color: #1e293b;
  font-size: 28px;
  text-align: center;
}
.home-description {
  color: #64748b;
  font-size: 13px;
  text-align: center;
  padding: 8px;
}
.shop-now-btn {
  padding: 8px 45px;
  background-color: #0967d2;
  color: #e6f6ff;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .img-for-large-width {
    display: inline;
    order: 1;
    width: 45%;
  }
  .home-container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .home-img {
    display: none;
  }
  .home-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px;
  }
  .home-heading {
    font-size: 44px;
    text-align: left;
    align-self: flex-start;
  }
  .home-description {
    font-size: 19px;
    text-align: left;
    padding: 0px;
  }
  .shop-now-btn {
    padding: 11px 40px;

    font-size: 16px;
    align-self: flex-start;
  }
}
